body

    {            
        background-color: white;
       
        background-image: url(/imagess/bg1.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position : right;
        background-size: center;
        margin : 40px 50px;
     }

    p{
        color: #181b16;
        text-align: center;
        background-color: aquamarine;
        background-image: url(/imagess/bg2.jpg);
        margin-top: 40px;
        margin: left 20px; 
        padding: 40px 6px;
    }
    h1{
        color: rgb(221, 214, 214);
        text-align: center ;
        background-color: red;
        
    }